# Created by https://www.toptal.com/developers/gitignore/api/assembler,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=assembler,visualstudiocode

### Assembler ###
*.exe
*.o
*.obj
*.bc

### VisualStudioCode ###
.vscode

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.toptal.com/developers/gitignore/api/assembler,visualstudiocode